<div>
  <a class="chat-btn floating-btn" [ngClass]="currentColor" (click)="showChatWindow()"><i class="material-icons">chat</i></a>
</div>
<div class="chat-window rounded-lg" *ngIf="isChatOpen">
  <div class="chat-header d-flex justify-content-between" [ngClass]="currentColor" (click)="showChatWindow()">
    <div class="d-flex">
      <a class="chat-header-btn"><i class="material-icons" *ngIf="isConvOpen" (click)="showConversationsList($event)">arrow_back</i></a>
      <span>{{title}}</span>
    </div>
    <div class="d-flex">
      <a class="chat-header-btn" (click)="showColorPicker($event)"><i class="material-icons">build</i></a>
      <a class="chat-header-btn"><i class="material-icons">add_comment</i></a>
    </div>
  </div>
  <div class="chat-body">
    <div class="conv-list" *ngIf="!isConvOpen">
      <div *ngFor="let conv of conversations">
        <div *ngIf="username != conv.name" class="conv-item" (click)="showConversation(conv._id)">
          <span>{{conv.name}}</span>
        </div>
      </div>
    </div>
    <div class="messages" *ngIf="isConvOpen">
      <div class="msg-box"></div>
      <form class="msg-form" (submit)="submitMessage($event)">
        <input #msgInput class="msg-input" [ngClass]="currentColor" type="text"/>
        <a [ngClass]="currentColor" (click)="submitMessage($event)"><span class="material-icons">send</span></a>
      </form>
    </div>
  </div>
</div>
<div class="color-picker d-flex justify-content-between" *ngIf="isColorPickerOpen">
  <a class="color-picker-item" style="background-color: #55a7ff" (click)="changeColor('blue')"></a>
  <a class="color-picker-item" style="background-color: #ff5656" (click)="changeColor('red')"></a>
  <a class="color-picker-item" style="background-color: #007849" (click)="changeColor('green')"></a>
</div>
